$dark-blue: #001C31;
$mid-dark-blue: #002c4a;
$mid-blue: #00A6EE;
$light-blue: #9FC5E8;

$background-color: $dark-blue;
$foreground-color: $mid-dark-blue;
$border-color: $light-blue;
$font-color: $light-blue;

$red: #FF6338;
$orange: #FF9F1C;
$green: #77D365;