@import 'reset';
@import 'variables';
@import 'colors';

$font: 'Share';

* {
  box-sizing: border-box;
  color: $font-color;
}

html {
  height: 100%;
  font-family: $font;
}

body {
  height: 100%;
  background-color: $background-color;
}

div {

  &#root {
    height: 100%;
  }

  &#container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 20px;
  }

  &#left-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    min-width: 210px;
    margin-right: 10px;

      & #map-container {
        display: flex;
        flex-direction: column;
        flex-grow: 0;

        & #map-content {
          border: none;
          flex-grow: 0;
          display: inline-block;
          width: auto;
        }
      }

      & #logs-container {
        margin-top: 10px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        & .content {
          background-color: $foreground-color;
          overflow: scroll;
          min-height: 50px;
          flex-grow: 1;
        }
      }
  }

  &#right-container {
    flex-grow: 0;
    display: flex;
    min-width: 270px;
    flex-direction: column;

    & #leaderboard-container {
      flex-grow: 1;
      flex-direction: column;
      display: flex;

      & .content {
        overflow: scroll;
        flex-grow: 1;
      }
    }

    & #countdown-container {
      //border: 1px solid $border-color;
      margin: 5px;
      padding: 5px;
      font-size: 7em;
      text-align: center;
      //color: $border-color;

      & .red {
        color: $red;
      }
    }
  }

  .title {
    border: 1px solid $border-color;
    width: 200px;
    margin: $margin;
    padding: 10px;
    font-size: 24px;
    font-style: italic;
    text-align: center;
  }

  .content {
    border: 1px solid $border-color;
    margin: $margin;
  }

  .no-border {
    border: none;
  }

}

#logs-table {
  & tr td {
    padding: 5px;
  }
}

.expose{
  font-weight: bold;
  color: $red;
}

.intercept{
  font-weight: bold;
  color: $orange;
}

.exchange{
  font-weight: bold;
  color: $green;
}

@keyframes pulseAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes pulseAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes pulseAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes pulseAnimation{
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
.pulse {
  -webkit-animation: pulseAnimation 1s infinite;
     -moz-animation: pulseAnimation 1s infinite;
       -o-animation: pulseAnimation 1s infinite;
          animation: pulseAnimation 1s infinite;
}