/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  color: #9FC5E8;
}

html {
  height: 100%;
  font-family: "Share";
}

body {
  height: 100%;
  background-color: #001C31;
}

div#root {
  height: 100%;
}
div#container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 20px;
}
div#left-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 210px;
  margin-right: 10px;
  height: 100%;
}
div#left-container #map-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}
div#left-container #map-container #map-content {
  border: none;
  flex-grow: 0;
  display: inline-block;
  width: auto;
}
div#left-container #logs-container {
  margin-top: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
div#left-container #logs-container .content {
  background-color: #002c4a;
  min-height: 50px;
  flex-grow: 1;
  overflow: scroll;
}
div#right-container {
  flex-grow: 0;
  display: flex;
  min-width: 270px;
  flex-direction: column;
}
div#right-container #leaderboard-container {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}
div#right-container #leaderboard-container .content {
  overflow: scroll;
  flex-grow: 1;
}
div#right-container #countdown-container {
  margin: 5px;
  padding: 5px;
  font-size: 7em;
  text-align: center;
}
div#right-container #countdown-container .red {
  color: #FF6338;
}
div .title {
  border: 1px solid #00A6EE;
  width: 200px;
  margin: 5px;
  padding: 10px;
  font-size: 24px;
  font-style: italic;
  text-align: center;
}
div .content {
  border: 1px solid #00A6EE;
  margin: 5px;
}
div .no-border {
  border: none;
}

#logs-table tr td {
  padding: 5px 10px;
  vertical-align: middle;
  font-size: 1.4em;
}

.expose {
  font-weight: bold;
  color: #FF6338;
}

.intercept {
  font-weight: bold;
  color: #FF9F1C;
}

.exchange {
  font-weight: bold;
  color: #77D365;
}

@keyframes pulseAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes pulseAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulseAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulseAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pulse {
  -webkit-animation: pulseAnimation 1s infinite;
  -moz-animation: pulseAnimation 1s infinite;
  -o-animation: pulseAnimation 1s infinite;
  animation: pulseAnimation 1s infinite;
}
