@import 'reset';
@import 'variables';
@import 'colors';

$font: 'Share';

* {
  box-sizing: border-box;
  color: $font-color;
}

html {
  height: 100%;
  font-family: $font;
}

body {
  height: 100%;
  background-color: $background-color;
}

div {

  &#root {
    height: 100%;
  }

  &#container {
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  &#left-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

      & #map-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 500px;
      }

      & #logs-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        & .content {
          background-color: $foreground-color;
          overflow: scroll;
        }
      }
  }

  &#right-container {
    flex-grow: 0.2;
    display: flex;
    flex-direction: row;

    & #leaderboard-container {
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      & .content {
        overflow:scroll;
      }
    }
  }

  .title {
    border: 1px solid $border-color;
    width: 200px;
    margin: $margin;
    padding: 10px;
    font-size: 24px;
    font-style: italic;
    text-align: center;
  }

  .content {
    flex-grow: 1;
    border: 1px solid $border-color;
    margin: $margin;
  }

  .no-border {
    border: none;
  }

}

#logs-table {
  & tr td {
    padding: 5px;
  }
}

.expose{
  font-weight: bold;
  color: $red;
}

.intercept{
  font-weight: bold;
  color: $orange;
}

.exchange{
  font-weight: bold;
  color: $green;
}